.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.center-align {
  margin-left: auto;
  margin-right: auto;
}

.m-b-l {
  margin-bottom: $l-size !important;
}

.grey {
  background-color: $light-grey !important;
}

.red-text {
  color: $red !important;
}
